.input {
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.input__field {
  @include anim(box-shadow);
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  border-width: 0;
  padding-left: 12px;
  padding-right: 34px;
  font-size: 14px;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px var(--accent-color);
  }
  
  &._error {
    box-shadow: inset 0 0 0 2px #bb3b3b;
  }
}

.input__icon {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 12px;
  width: 15px;
  height: 17px;
  fill: var(--fill-color);
}